<!-- ask someone if they remember which link had the fields updating at the same time, and how to fix it -->









<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CappyStoney Jabroni</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'fitness_project/styling/main.css' %}">
</head>

<body>
    <div id="app" class="container">
        <!--  @click="hideDropdown($event)" -->

        <div class="left-half">
            <h1>Let's build a workout!</h1>
            <input type="search" placeholder="Search..." id="myInput" @keyup="filterFunction" v-model="searchInput">
            <search-button @search-button="searchButton" class="btn"></search-button>
            <delete-exercise @delete-exercise="deleteExercise(filteredExercise.exercise)" class="btn"></delete-exercise>
            <rand-ex @rand-ex="randEx($event)" class="btn"></rand-ex>

            <div class="dropdown">
                <button @click="showDropdown($event)" class="dropbtn">Browse by Muscle Groups</button>
                <hide-dropdown @click="hideDropdown($event)"></hide-dropdown>

                <div id="myDropdown" class="dropdown-content">
                    <ul>
                        <!-- list of available musclegroups -->
                        <a @click="getMuscleGroup('arms'); hideDropdown($event)">Arms</a>
                        <a @click="getMuscleGroup('back'); hideDropdown($event)">Back</a>
                        <a @click="getMuscleGroup('chest'); hideDropdown($event)">Chest</a>
                        <a @click="getMuscleGroup('core'); hideDropdown($event)">Core</a>
                        <a @click="getMuscleGroup('legs'); hideDropdown($event)">Legs</a>
                    </ul>
                </div>
            </div>
            <delete-exercise @delete-exercise="deleteExercise(filteredExercise)"></delete-exercise>
            <!-- dropdown display -->
            <div>
                <ul v-for="group in muscleGroups">
                    [[ group.name ]]
                    <br>
                    <p v-for="exercise in group.exercises">
                        [[ exercise.name ]]<img :src="exercise.img" style="width:100px;height:100px;">
                        <input type="number" placeholder="weight" v-model="filteredExercise.weight" min="0" value="0" />
                        <input type="number" placeholder="reps" v-model="filteredExercise.rep" min="0" value="0" />
                        <add-exercise @add-exercise="addExercise($event)" class='btn'></add-exercise>
                    </p>
                </ul>
            </div>
            <!-- randEx display -->
            <ul v-for="exercise in newWorkout" :key="exercise.id">
                <p>
                    [[exercise.name]] <img :src="exercise.img" style="width:100px;height:100px;">
                    <input type="number" placeholder="weight" v-model="filteredExercise.weight" min="0" value="0" />
                    <input type="number" placeholder="reps" v-model="filteredExercise.rep" min="0" value="0" />
                    <add-exercise @add-exercise="addExercise(exercise)" class='btn'></add-exercise>
                </p>
                <delete-exercise @delete-exercise="deleteExercise(exercise)"></delete-exercise>
            </ul>
        </div>

        <div class="right-half">
            <h1>I'm on the right side!</h1>
            <input type="text" placeholder="Workout1" id="workout-name" v-model="workout.name">
            <button @click.prevent="storeName($event)" class="btn">Save</button>

            <div class="dropdown">
                <button @click="showDropdown2($event)" class="dropbtn">My Workouts</button>
                <hide-dropdown2 @click="hideDropdown2($event)"></hide-dropdown2>

                <div id="myDropdown2" class="dropdown-content">
                    <!-- list of available workouts -->
                    <a @click="getWorkout(workout)"></a>
                    <option v-for="item in workout" :key="item.id">
                        [[ item.name ]]
                    </option>

                </div>
                <select v-model="menu2">
                    <option v-for='item in workout' :key="item.id" :value="item.id">
                        [[item.name]]
                    </option>
                </select>
            </div>
            <delete-workout @delete-workout="deleteWorkout(deleteWorkout)"></delete-workout>
            
            <div v-for="wo in workout">
                <div v-for="exercise in wo.superset_info">
                    <p> [[ exercise.exercise_info.name ]] 
                        <img :src="exercise.exercise_info.img" style="width:100px;height:100px;">
                        <p> reps: [[ exercise.rep ]] weight: [[ exercise.weight ]] </p>
                    </p>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>

        Vue.component('rand-ex', {
            template: `<div v-on:click.prevent="$emit('rand-ex')" class='btn'>Give me something to do right now!</div>`
        })

        Vue.component('add-exercise', {
            template: `<div v-on:click.prevent="$emit('add-exercise')" class='btn'>Add exercise to workout</div>`
        })

        Vue.component('search-button', {
            template: `<div v-on:click.prevent="$emit('search-button')" class='btn'>Search</div>`
        })

        Vue.component('delete-exercise', {
            template: `<div v-on:click.prevent="$emit('delete-exercise')" class='btn'>Clear</div>`
        })

        Vue.component('hide-dropdown', {
            template: `<div v-on:click.prevent="$emit('hide-dropdown')"></div>`
        })

        Vue.component('hide-dropdown2', {
            template: `<div v-on:click.prevent="$emit('hide-dropdown2')"></div>`
        })

        Vue.component('store-name', {
            template: `<div v-on:click.prevent="$emit('store-name')"></div>`
        })

        Vue.component('workout-list', {
            props: ['new-workout'],
            delimiters: ['[[', ']]'],
            template: `<div v-on:click.prevent="$emit('workout-list')">[[filteredExercise.name]]</div>`
        })

        Vue.component('delete-workout', {
            template: `<div v-on:click.prevent="$emit('delete-workout')" class='btn'>Delete Workout</div>`
        })

        let vm = new Vue({
            el: '#app', 
            delimiters: ['[[', ']]'],
            data: {
                superSet: {
                    newWorkout: []
                },
                newWorkout: [],
                filteredExercise: {
                    exercise: null,
                    rep: null,
                    weight: null
                },
                workout: {},
                menu2: 'My Workouts',
                searchInput: '',
                muscleGroups: [],
                token: "{{ csrf_token }}",
            },
            methods: {

                storeName: function () {
                    axios({
                        method: 'POST',
                        url: "/apis/v1/workout/",
                        headers: { 'X-CSRFToken': this.token },
                        data: {
                            name: this.workout.name,
                            supersets: []
                        }
                    }).then(response => {
                        console.log(this.workout)
                        getWorkout();
                    })
                },

                deleteWorkout: function (workout) {
                    console.log(this.workout)
                    this.superSet = {
                        id: null,
                        name: null,
                        newWorkout: [],
                        superSet: []
                    }
                    console.log('deleted')
                    console.log(this.superSet)
                },

                addExercise: function (exercise) {
                    axios({
                        method: 'POST',
                        url: "/apis/v1/superset/",
                        headers: { 'X-CSRFToken': this.token },
                        data: {
                            exercise: this.filteredExercise.id,
                            workout: this.menu2,
                            rep: this.filteredExercise.rep,
                            weight: this.filteredExercise.weight
                        }
                    }).then((response) => {
                        console.log(response)
                        console.log(this.exercise),
                            // console.log(filteredExercise),
                            this.filteredExercise = {
                                exercise: this.exercise,
                                rep: this.rep,
                                weight: this.weight,
                            }
                        this.filteredExercise.id++;
                        this.newWorkout.push(this.filteredExercise)
                        console.log(this.newWorkout)
                        console.log("but y tho")
                        this.superSet.newWorkout.push(this.filteredExercise)
                        console.log(this.superSet)
                    })
                },

                deleteExercise: function (exercise) {
                    console.log(this.filteredExercise);
                    this.filteredExercise = { exercise: null, rep: null, weight: null }
                    this.newWorkout.splice(this.newWorkout.indexOf(exercise), 1);
                    this.searchInput = ''
                    this.muscleGroups = []
                    this.name = null
                    this.filterFunction();
                },

                getWorkout: function (workout) {
                    axios({
                        method: 'GET',
                        url: "/apis/v1/workout/",
                        headers: { 'X-CSRFToken': this.token },
                    }).then(response => {
                        sets = response.data
                        console.log(sets)
                        this.workout = sets
                    })
                },

                randEx: function () {
                    axios({
                        method: 'GET',
                        url: "/apis/v1/exercise/",
                    }).then(response => {
                        let pick = Math.floor(Math.random() * response.data.length + 1);
                        console.log(pick)
                        this.filteredExercise = response.data[pick]
                        console.log(this.filteredExercise)
                        this.newWorkout.push(this.filteredExercise)
                        console.log(this.newWorkout)
                    }).catch(error => console.log(error))
                },

                searchButton: function () {
                    axios({
                        method: 'GET',
                        url: "/apis/v1/exercise/",
                        params: { name: this.searchInput }
                    }).then(response => {
                        console.log(this.searchInput)
                        this.filteredExercise = response.data[0]
                        console.log(this.filteredExercise)
                        this.newWorkout.push(this.filteredExercise)
                        console.log(this.newWorkout)
                    }).catch(error => console.log(error))
                },

                getMuscleGroup: function (name) {
                    axios({
                        method: 'GET',
                        url: "/apis/v1/muscle",
                        params: { name: name }
                    }).then(response => {
                        groups = response.data
                        console.log(groups)
                        this.muscleGroups = groups
                    })
                },

                /* Toggle between hiding and showing the dropdown content */
                showDropdown: function (event) {
                    document.getElementById("myDropdown").classList.toggle("show");
                    console.log('show')
                },
                hideDropdown: function (event) {
                    document.getElementById("myDropdown").toggle('show');
                    console.log('clicked hide')
                },

                /* Toggle between hiding and showing the dropdown content */
                showDropdown2: function (event) {
                    document.getElementById("myDropdown2").classList.toggle("show");
                    console.log('show')
                },
                hideDropdown2: function (event) {
                    document.getElementById("myDropdown2").classList.toggle("show");
                    console.log('clicked hide')
                },
                filterFunction: function () {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toLowerCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                        txtValue = a[i].textContent || a[i].innerText;
                        if (txtValue.toLowerCase().indexOf(filter) > -1) {
                            a[i].style.display = "";
                        } else {
                            a[i].style.display = "none";
                        }
                    }
                },
            },
            mounted: function () {
                console.log('blardeebloo')
                axios({
                    url: 'apis/v1/workout/',
                    method: 'GET',
                    headers: { 'X-CSRFToken': this.token },
                }).then(response => {
                    this.workout = response.data
                }).catch(error => console.log(error))
            },



        });
    </script>
</body>

</html>