{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %} Hi {{ user.username }}!
<button><a href="{% url 'logout' %}">Logout</a></button> {% if user.workout %}
<p>{{ user.username }}'s Workouts</p>
<p> {% for wo in user.workout %}</p>
{{ user.workout.name }} {% endfor %} {% else %}
<p>You have not created any workouts yet!</p>
{% endif %}

<button><a href="{% url 'create' %}">Create a workout now</a></button>
<button><a href='https://calendly.com/app/scheduled_events/user/me'>My Calendar</a></button> {% else %}
<p>You are not logged in</p>
<button><a href="{% url 'login' %}">Login</a></button>
<button><a href="{% url 'signup' %}">Sign Up</a></button> {% endif %} {% endblock %}